
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico"> -->

    <title>Pointy Point</title>


    <script>



    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="assets/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-color navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <h1>PointyPoint - Ticket Pointing</h1>

            </div>
        </div>
        <!-- /.container -->
    </nav>
    <br>
    <!-- Page Content -->
    <div class="container" id='main'>

            <h2>Enter a task to point...</h2><br />

            <form id='addTask' class="form-inline">
                <div class="form-group">
                  <label for="task_name">Task Name</label>
                  <input type="text" class="form-control" placeholder="Thing to point" id="task_name" value="My Task Default">
                </div>
                <div class="form-group" style="padding-left:20px">
                  <label for="num_people">Number of people</label>
                <input type="text" class="form-control" placeholder="Number of people" id="num_people" value="2">
              </div>
                  <button class="btn btn-default btn-primary" type="submit">Add Task</button>
            </form>

            <br /><hr />

            <!-- <canvas id="myChart" width="300" height="300"></canvas> -->
      </div><!-- Container -->


    <div class="container">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <p>Copyright &copy; kate 2017</p> -->
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="assets/utils.js"></script>
    <script src='slack.js'></script>
    <script src='assets/javascript.js'></script>
    <script src="assets/Chart.bundle.min.js"></script>

    <script>

    </script>


</body>

</html>
